{:paths
 ["src" "tests" "resources"]

 :deps
 {org.clojure/clojurescript {:mvn/version "1.10.773"}
  com.bhauman/figwheel-main {:mvn/version "0.2.6"}
  reagent {:mvn/version "0.10.0"}
  cljs-ajax {:mvn/version "0.8.1"}}

 :aliases
 {:dev {:main-opts ["-m"  "figwheel.main" "--build" "dev" "--repl"]}}}